@import "tailwindcss";
/* 
body {
    background: radial-gradient(
      circle at top,
      #111827,
      #0B0F14 60%
    );
  } */
  body {
    background-color: #0b0f14;
    background-image:
      linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
    background-size: 24px 24px;
  }
  /* body {
    background-color: #0b0f14;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    );
    background-size: 20px 20px;
  }
   */
  